@font-face {
    font-family: "QuercusBold";
    src: url("../fonts/Quercus10-Bold.otf");
  }

  @font-face {
    font-family: "Quercus";
    src: url("../fonts/Quercus10.otf");
  }
  

  @font-face {
    font-family: "QuercusBlack";
    src: url("../fonts/Quercus10Black.otf");
  }
  

  @font-face {
    font-family: "QuercusBook";
    src: url("../fonts/Quercus10Book.otf");
  }
  

  @font-face {
    font-family: "QuercusLight";
    src: url("../fonts/Quercus10Light.otf");
  }
  

  @font-face {
    font-family: "QuercusMedium";
    src: url("../fonts/Quercus10Medium.otf");
  }
  

.QuercusBold{
    font-family: 'QuercusBold'!important;
}
.Quercus{
    font-family: 'Quercus'!important;
}
.QuercusBlack{
    font-family: 'QuercusBlack'!important;
}
.QuercusBook{
    font-family: 'QuercusBook'!important;
}
.QuercusLight{
    font-family: 'QuercusLight'!important;
}
.QuercusMedium{
    font-family: 'QuercusMedium'!important;
}