body{
    font-family: 'QuercusBook';
}

header{
    position: relative;
    top: 0%;
    background-color:#3C1C50 ;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 5px 8px 8px 8px;
  
}


footer{
    background-color: #3C1C50;
    bottom: 0px;
    position: relative;

    font-family: 'QuercusBook';
}

.container1 {
    position: relative;
  }

  .pt-10{
    padding-top:8rem!important
}


  .precioTxt{
      font-size: 1.6rem;
  }
    .subPrevision{
        font-size: 2rem;
        letter-spacing: 0.4em;
    }
  
  .bottomleft {
    position: absolute;
    letter-spacing: 0.4em;
    bottom: 20%;
    left: 5%;
    font-style: 'QuercusBook';
    color: white;
    font-size: 2.5vw;
    text-shadow: 1px 3px 7px rgba(0,0,0,0.82);
  }

  .planesHeaderText {
    position: absolute;
    top: 80%;
    left: 5%;
    color: white;
    font-size: 1.2vw;
    text-shadow: 1px 3px 7px rgba(0,0,0,0.82);
  }

  .middleleft {
    position: absolute;
    bottom: 20%;

    color: white;
    font-size: 25px;
    text-shadow: 1px 3px 7px rgba(0,0,0,0.82);
  }

  .centerPicture {
    position: absolute;
    bottom: 55%;
    left: 25%;
    color: white;
    margin: 0 0 29px 0;
    line-height: 84px;
    font-weight: 700;
    font-size: 5.5vw;
    font-family: "QuercusMedium";
  }

  .actividadesText {
    position: absolute;
    bottom: 0%;
    left: 5%;
    color: #d8a413;
    margin: 0 0 29px 0;
    line-height: 84px;
    font-weight: 700;
    font-size: 3.5vw;
    font-family: "QuercusMedium";

  }

  .planesBanner:hover{
    text-decoration: none;
  }

  .avisoTxt{
      color:#d8a413;
      letter-spacing: 8px;
      text-align: center;
      
  }
  .obituarioCard{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/obituarios/obituario-back.png');
        border-radius: 20px;
        height: 360px;
  }

  .modalPhoto img{
      border-radius: 20px;
  }

  .obituariosRedes li img{
      width: 30px;
      margin: 10px;
  }

  .obituariosRedes li {
    width: 200px;
  }

  .obituarioCardVacia{
    background-image: url('../img/obituarios/obituario-placeholder.png');
    border-radius: 20px;
    height: 360px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

  .obituarioCard button{
      background: #d8a413;
      border: 0px;
      border-radius: 20px;
      padding-right: 30px;
      padding-left: 30px;

  }

  .obituarioCard h2{
        font-size:2vw;
  }

  .planesInmediatoCard{
      border: 0px;
      min-height: 485px;
      border-radius: 10px;
      background-color: #e8e8f0;
      -webkit-box-shadow: 3px 3px 5px 0px rgba(138,138,148,1);
      -moz-box-shadow: 3px 3px 5px 0px rgba(138,138,148,1);
      box-shadow: 3px 3px 5px 0px rgba(138,138,148,1);
      
  }

  .planesInmediatoCard .card{
    display: flex;
  }

  .planesInmediatoCard p{
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

.pos-f-t{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.servicios li{
    border:0px;
}


.nosotros{
    background-image: url('../img/home_back_nosotros.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    padding: 0% 0% 5% 5%;
}
.nosotros h3{
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
    padding-bottom: 5%;
}
.nosotros .pMemorial {
    font-size: 1.5vw;
    font-weight: bold;
    font-family: 'Quercus';
}


.btnMenu{
    border:0px;

    position: fixed;
    z-index: 99;
    right: 3%;
    top: 14%;
}

    #btnMenu {
        color:#ECECEC;
    }
.redes{
    position: fixed;
    z-index: 99;
    right: 25px;
    margin-top: 11%;
}

.redes img{
    width: 60px;
}

.list-item{
    display: inline;  
    padding-right: 5%;
    color: #3C1C50;
}

.list-item a{
text-decoration: none;
}

.list-item a:hover{
    text-decoration: underline;
    text-decoration-color: #d8a413;
    text-decoration-style: solid;
    }

.list{
    text-align: right;
    padding:10px;
}


.redes li {
    background-color: transparent;
    border: 0px;
}
.carimg{
    position: relative;
}
.carimg img{
    max-height: 714px!important;
}

.textCarrouselHome{
    position: absolute;
    letter-spacing: 0.2em;
    bottom: 20%;
    left: 5%;
    color: white;
    font-size: 2.5vw;
    text-shadow: 1px 3px 7px rgba(0,0,0,0.82);
    /* width: 70%;
    word-break: break-all; */
}

.cartext{
    background-color: #3C1C50;
    color: white;
    padding-top:5%;
    padding-bottom: 5%;
    height: 350px;

}


.contactoSimple{
    width: 180px;
    border-radius: 50px;
    background-color: #d8a413;
    border: 0px;
    color: white;
    margin-top: 5%;
}

.contacto{
    border-radius: 50px;
    background-color: #d8a413;
    border: 0px;
    color: white;
    padding: 8% 40px 8% 40px;
    margin-top: 30%;
}

.planCardDetail{
    background-color: #e8e8f0;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(138,138,148,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(138,138,148,1);
    box-shadow: 3px 3px 5px 0px rgba(138,138,148,1);
    border-radius: 10px;
}


.vision .card{
    background-color: #d8a413;
    border-radius: 35px;
    font-family: "QuercusBook", Sans-serif;
    border: 0px;
    color: #3C1C50;
}

.vision .card-header{
    font-size: 28px;
    border: 0px;
    border-top-left-radius:35px;
    border-top-right-radius:35px;
    background-color: lightgray;
}

.vision .card-body{
    font-size: 17px;
    
    min-height: 240px;
    border-bottom-left-radius:5%;
    border-bottom-right-radius:5%;
}

.actividades .card{
    border-radius: 35px;
    font-family: 'QuercusBook'!important;
    height: 500px;
    border: 0px;
}

.actividades .card-header{
    background-color: #d8a413;
    color: white;
    font-family: "QuercusBook", Sans-serif;
    border-bottom: 0px;
    border-top-left-radius:35px;
    border-top-right-radius:35px;
}


.botCardLeft{
    border-top-left-radius: 35px;
    background-color: #d8a413;
    color: white;
}

.botCardRight{
    border-top-right-radius: 35px;
    background-color: #3C1C50;
    color: white;
}

.botCard{
    border-bottom-left-radius:35px;
    border-bottom-right-radius:35px;
    height: 380px;
    position: relative;

}

.botCard .info{
    position: absolute;
    right: 5%;
    bottom: 8%;
    
}

.botCard .purple{
    font-size:.9rem;
}

footer .list-group-item{
    border: 0px;
    background-color: transparent;
}

.form input, .form textarea{
    border-top: 0px;
    border-left: 0px;
    border-color: #d8a413;
}

.cardPurple{
    background-color: #3C1C50;
    color: #fff;
    height: 300px;
    text-align: center;
}

.cardPurpleTrabaja{
    background-color: #3C1C50;
    color: #fff;
    height: 250px;
    text-align: center;
}

.bgPurple{
    background-color: #3C1C50;
    border-radius: 2px;
}

.bgYellow{
    background-color: #d8a413;
    color: white;
    padding-top:5%;
    padding-bottom: 5%;
    height: 260px;
}

.bgYellow2{
    background-color: #d8a413;
    color: white;
    font-size: 25px;
    position: absolute;
    width: 100%;
    bottom: 15px;
    letter-spacing: 4px;
}

.transparent{
    background-color: transparent;
}

.bgYellow3{
    background-color: #d8a413;
    color: #3C1C50;
    font-weight: bold;
    letter-spacing: 5px;
}

.bgYellowServicios, .bgYellowServicios div ul, .bgYellowServicios div ul li{
    background-color: #d8a413;
    color: white;
}

.planesList, .planesList ul, .planesList ul li {
    background-color: #3C1C50;
    color: white;

}

.footerMenu li{
    padding: 5px;
}

.planes{
    position: relative;
}

.tributosContainer img{
    border-radius: 20px;
}
.noBorder, .noBorder .list-group-item{
    border:0px;
}

.btnInfo{
    background-color: white;
    border-top-left-radius:20px;
    color: #d8a413;
    border-bottom-right-radius:20px;
    border:0px
}

.pagination a {
    color:#d8a413;
}

.pagination .active .page-link{
    color: white;
    background-color: #d8a413;
    border: 0px;
}


.planesTable thead th, .planesTable tbody  td{
    text-align: center;
}

.planesTable thead th{
    border-right: 1px solid #d8a413;
    border-bottom: 1px solid #d8a413;
    border-top: 0px
}
.planesTable tbody tr{
    text-align: justify;
}

.planesTable tbody th, .planesTable tbody td{
    border-top: 1px solid #d8a413;
    border-right: 1px solid #d8a413;
}

.noLine{
    border-right: 0px!important;
}




/* Tipos y Color letra */

.yellow{
    color:#d8a413!important;
}

.white{
    color: white!important;
}

.purple{
    color: #3C1C50!important;
}

.title{
    font-size: 29px;
    color: #3C1C50;
    font-weight: bold;
}

.headTitle{
    font-family: "QuercusMedium", Sans-serif;
    letter-spacing: 12px;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
}

.postText{
    line-height: 26px;
    background-color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #8c9597;
}

.tributosText p{
    font-family: 'QuercusLight';
    font-size: 18px;
    text-align: justify;
    color: #3C1C50
}

.bold{
    font-weight: bold;
}

.cardPurple button{
    border-radius: 20px;
    background-color: #d8a413;
    border: 0px;
    color: white;
    padding: 1%;
    
}

.bannerText {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 18px;
  }

  .bannerText h2, .bannerText p{
    text-shadow: 1px 3px 7px rgba(0,0,0,0.82);
  }

  .bannerText2 {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 1.5vw;
    text-shadow: 1px 3px 7px rgba(0,0,0,0.82);
  }

  .letterSpacing{
    letter-spacing: .2em;
    text-shadow: 0px 5px 10px rgba(0,0,0,1)
  }

  .bannerText2 p{
    text-shadow: 1px 5px 10px rgba(0,0,0,1)
  }

  .btnObituario{
      border-radius: 25px;
      padding-right: 10px;
      padding-left: 10px;
  }

  .btnLeer{
    top: 5%;
    right: 5%;
    position: absolute;
    border: 0px;
    border-radius: 20px;
    background-color: white;
    color: #3C1C50;
    padding: 1%;
 
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    }

    .pe{
        padding: .75rem 1.25rem;
    }

    .cardPlan{
        background: #3C1C50;
        border-radius: 10px;
        color: white;
        padding-bottom: 15%;
        -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    }
    .dateObituario{
        padding-top: 35%;
     }

/* Responsive */
@media (max-width: 950px) {
    .bottomleft{
        top: 40%;
        left: 0px;

    }
    .lineFooter{
        display:none;
    }

    .logoFooter{
        padding: 30%;
    }
    .imgWTC{
        height:300px;
    }
    .content{
        padding-top: 10%;
    }

    .bannerText{
        font-size: 14px;
    }

    .nosotros .pMemorial {
        font-size: 2.5vw;
        
    }

    .obituarioCard h2{
        font-size: 3vw;
  }

 }

 @media (max-width: 550px) {
     .smallResponsive{
        padding-top: 35%;
     }
    .redes{
        position: fixed;
        z-index: 99;
        bottom: 20%;
    }

    .redes li a img{
        width: 57px;
        height: 57px;
    }

    .headTitle{
        font-size: 14px;
        letter-spacing: 1px;
    }

    .pt-10{
        padding-top: 1rem!important; 
    }

    .subPrevision {
        font-size:18px
    }

    .planesHeaderText{
        position: relative;
        background-color: #3C1C50;
        font-size: 15px;
        left:0px;
        padding-bottom: 5%;
    }

    .cardPurple h3{
        font-size: 18px;
    }

    .bannerText2 h2{
        font-size: 20px;
    }

    .bannerText2 p{
        font-size: 13px;
    }

    .obituarioCard h2{
        font-size: 18px;
  }

    .obituarioCard .pt-10{
        padding-top: 50%!important;
    }

 }

 .bgModalPurple{
     background-color: rgba(60, 32, 82, .8);
     min-height: 500px;
     
 }

.logo{
    width: 150px;
}



 .list-item{
     padding-right: 3%!important;
 }

.bgMenu {
  
    background: linear-gradient(rgb(255, 255, 255, .5) , rgba(216, 164, 19, .8))!important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
 }

 .obituariosMenu{
     background-color: white;
     border: 2px solid #d8a413;
     border-radius: 20px;
     
 }

 .obituariosMenu a li{
   background-color: white;
   border:0px;
 }
 


 .planPrevisionTitle{
     font-size: 1.5em;
 }


 .subTitleInmediato{
    font-size: 1.3rem;
 }

 #planesRedirect:hover{
     text-decoration: none;
 }

 .hidden{
     display: none;
 }

 .gpo-1 p:last-child, .gpo-2 p:last-child, .gpo-3 p:last-child{
    display: none;
 }

 